---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: zitadel-access-operator
rules:
- apiGroups:
  - access.zitadel.com
  resources:
  - securedapplications
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - access.zitadel.com
  resources:
  - securedapplications/finalizers
  verbs:
  - update
- apiGroups:
  - access.zitadel.com
  resources:
  - securedapplications/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
