apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "cf-zitadel-access-operator.fullname" . }}
  labels:
    {{- include "cf-zitadel-access-operator.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - access.twiechert.de
    resources:
      - securedapplications
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - access.twiechert.de
    resources:
      - securedapplications/finalizers
    verbs:
      - update
  - apiGroups:
      - access.twiechert.de
    resources:
      - securedapplications/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - networking.k8s.io
    resources:
      - ingresses
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
